<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TravelDataWebService</display-name>
  <servlet>
    <servlet-name>Travel Data WebService</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>com.selchi</param-value>
    </init-param>
    <init-param>
    	<param-name>ontoPath</param-name>
      	<!--<param-value>/var/lib/openshift/528f1e1c500446064b00002f/app-root/repo/onto/SelchiLocationOntology_New2.owl</param-value> --> 
      	<param-value>/home/lasitha/Programing/FYP/TravelProfiling/TravelDataWebService/res/SelchiLocationOntology_New2.owl</param-value> 
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Travel Data WebService</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>

  
</web-app>